<ion-content [fullscreen]="true">
  
  <div style="padding-top: 70px;"></div>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Post</ion-title>
  </ion-toolbar>

  <div *ngIf="post">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ post?.title }}</ion-card-title>
        <ion-card-subtitle>Por: {{ post?.authorEmail || 'Desconhecido' }}</ion-card-subtitle>
        <ion-card-subtitle>Publicado em: {{ (post?.createdAt | date:'shortDate') || 'N/A' }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>{{ post?.content }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!post" class="ion-text-center ion-padding">
    <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
    <p>Carregando post ou post não encontrado.</p>
  </div>
</ion-content>